<div style="width: fit-content; height: 100vh">
  <div style="margin-bottom: 10px">
    <button (click)="onBtnEpxort()">Export CSV</button>
  </div>
  <h2>Liste des Champions</h2>
  <form [formGroup]="searchForm">
    <label for="searchQuery">Search:</label>
    <input
      type="text"
      id="searchQuery"
      formControlName="searchQuery"
      (keyup)="filterByNameOrTitle()"
    />
  </form>
  <ag-grid-angular
    class="ag-theme-quartz-dark"
    style="height: 100%; width: 100%"
    [rowData]="championsData"
    [columnDefs]="colDefs"
    [pagination]="true"
    [paginationPageSize]="10"
    [paginationPageSizeSelector]="[10, 20, 30]"
    [domLayout]="'autoHeight'"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>
